// Navbar
nav.navbar.navbar-dark.bg-dark.fixed-top
  button#sidebarCollapse.btn.btn-secondary(type='button')
    i.fas.fa-align-justify
  a.navbar-brand(href='#') SmartHomeGui
  #editModeToggleDiv
    input(id='editModeToggle', type='checkbox', checked='', data-toggle='toggle')