.wrapper
  // Sidebar
  nav#sidebar
    .sidebar-header
      h3 Otthon
    ul.list-unstyled.components
        li.list-rooms-group
          each roomName in roomsName
            a(href=roomName._id) #{roomName.name}
    button.btn.btn-secondary.editModeItem(id='addRoomButton' type='button' data-toggle='modal' data-target='#addRoomModal')
      i.fas.fa-plus

  // Page Content
  #content
    .container-fluid
      block content


// Modal
#addRoomModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addRoomModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#addRoomModalLabel.modal-title Helyiség hozzáadása
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      form(action='/api/insertRoom', method='post')
        .modal-body
            input#newRoomName.form-control(name='name' type='text' placeholder='Helyiség neve')
        .modal-footer
          button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
          button.btn.btn-secondary.new-room-btn(type='submit') Mentés
