.wrapper
  // Sidebar
  nav#sidebar
    .sidebar-header
      h3 Otthon
    ul.list-unstyled.components
      li
        a(href='#') Room 1
      li
        a(href='#') Room 2
      li
        a(href='#') Room 3
        
  // Page Content
  #content
      .container-fluid