.wrapper
  // Sidebar
  nav#sidebar
    .sidebar-header
      h3 Otthon
    ul.list-unstyled.components
        li.list-rooms-group
          a.list-rooms
    button.btn.btn-secondary.find-room-btn
      i.fas.fa-plus

  // Page Content
  #content
      .container-fluid