doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel="stylesheet" href='https://use.fontawesome.com/releases/v5.5.0/css/all.css')
    link(rel='stylesheet', href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css') 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include elements/navbar
    include elements/sidebar
    
    // Tartalom helye, ami sidebar-ban található!

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
    script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')
    script(src='javascripts/sidebarCollapse.js')
    script(src='javascripts/sidebarItem.js')
    script(src='javascripts/teszt.js')
    script(src='javascripts/tesztModal.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/tesztSocket.js')
    //script(src='javascripts/tesztactiveItemSidebar.js')