@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    padding-top: 70px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-brand {
  text-align: center;
  margin: auto;
}

.navbar {
    padding: 15px 10px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #9c9fa9;
    color: #fff;
    transition: all 0.3s;
    text-align: center;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6f757b;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #343a40;
    background: #fff;
}

.active {
    color: #343a40;
    background: #fff;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 60px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    CARD
----------------------------------------------------- */

.card-header {
    text-align: center;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 30px;
}

.card-footer-settingIcon {
    border: none;
    background: none;
    position: absolute;
    top: -10px;
    right: -15px;
}

.card-footer-closeIcon {
    position: absolute;
    background: none;
    border: none;
    top: -10px;
    left: -15px;
}

.sensorSetting-btn{
    background: #697179;
}

.sensorDelete-btn {
    background: #697179;
}

.dutiesDiv {
    margin-top: 20px;
}

/* ---------------------------------------------------
    Panel kezelő gombok
----------------------------------------------------- */

.buttonGroup {
    margin-top: 50px;
    text-align: center;
}

#save-grid {
    margin-right: 10px;
}

#add-chart {
    margin-left: 10px;
}

/* ---------------------------------------------------
    Function CheckBox in Modal
----------------------------------------------------- */

.functionCheckBox {
    margin-top: 10px;
    margin-left: 3px;
}

/* ---------------------------------------------------
    Room setting button
----------------------------------------------------- */

.roomSetting-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #343a40;
}

/* ---------------------------------------------------
    Room delete button position
----------------------------------------------------- */

.roomDelete-btn {
    position: fixed;
    left: 0;
    margin-left: 10px;
}


/* ---------------------------------------------------
    Edit mode
----------------------------------------------------- */

#editModeToggleDiv :focus {
    outline: 0;
}

.editModeItem {
    display: none;
}

.sensorAddDuty-btn, .sensorDutySetting-btn {
    color: #ffc107;
}

/* ---------------------------------------------------
    Gridstack overflow hidden
----------------------------------------------------- */

.grid-stack-item-content {
    overflow: hidden !important;
}

/* ---------------------------------------------------
    Új szenzor Modal
----------------------------------------------------- */

.modalNameInput {
    margin-bottom: 15px;
}

.modalMqttLinkInput {
    margin-bottom: 15px;
}

.modalSpanIkon {
    margin-bottom: 7px;
}

.wantIconCheckBox {
    text-align: right;
    margin-bottom: 15px;
}

.modalRadio1 {
    padding-top: 8px;
    margin-right: 10px;
}

.modalRadio2 {
    padding-top: 5px;
    margin-left: 10px;
}

#modalIconPicker, #settingModalIconPicker {
    position: absolute;
    left: 7%;
}

#modalSpanCheckboxIcon{
    margin-right: 40px;
}

/* ---------------------------------------------------
    Funkció Modal
----------------------------------------------------- */

.wantNameRadio {
    margin-bottom: 20px;
    padding-left: 0;
}

#addDutySpanName {
    margin-right: 10rem;
}

/* ---------------------------------------------------
    Automation Card
----------------------------------------------------- */

.automationCard-Header {
    background: #9c9fa9;
}

.nav-pills .nav-link.active {
    background: #343a40;
}

.editCardTitle-btn {
    background: white;
    border: none;
    margin-left: 10px;
}

.editCardText-btn {
    background: white;
    border: none;
    margin-left: 10px;
}

.addAutomationCard {
    text-align: center;
    margin-top: 20px;
}

.automationCardFooter {
    background: none;
    position: absolute;
    right:0;
}

.deleteAutomationCard-btn {
    background: none;
    border: none;
}

.saveAutomationCard-btn {
    background: none;
    border: none;
}

.addNewLink {
    text-align: center;
}